<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
  {% block title %}
    
  {% endblock %}
    </title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
    <h1 class="text-7xl text-center">
        MadLibs
    </h1>
<section class="bg-sky-800 text-white p-10 m-20  mx-64 shadow-2xl">
    {%block content%} {% endblock %}
</section>


    <footer class="text-center">
        &copy; Sajid Jaber 2024
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>